asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==45.0.2
curl_cffi==0.11.1
dj-rest-auth==7.0.1
Django==4.2.20
django-allauth==65.8.1
django-cors-headers==4.7.0
django-environ==0.12.0
django-extensions==3.2.3
djangorestframework==3.16.0
drf-yasg==1.21.10
frozendict==2.4.6
idna==3.10
inflection==0.5.1
more-itertools==10.7.0
multitasking==0.0.11
numpy==2.2.6
packaging==25.0
pandas==2.2.3
peewee==3.18.1
pillow==11.1.0
platformdirs==4.3.8
protobuf==6.31.0
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.3.0
websockets==15.0.1
yfinance==0.2.61
